<launch>
  <node pkg="baxter_tools" type="enable_robot.py" name="bax_enable" args="-e"/>
  <node pkg="drone_tracker_demo" type="tuck_arms.py" name="bax_tuck_server"/>	
  <include file="$(find xtion_launch)/launch/xtion.launch"/>
  <node pkg="ros_asoa" type="asoa_say.py" name="asoa_server" output="screen"/>
  <node pkg="drone_tracker_demo" type="drone_tracker_demo_node" name="drone_tracker"/>
  <node pkg="sphinx_mcl" type="sphinx_mcl_node" name="sphinx_mcl" output="screen"/>
  <node pkg="drone_tracker_demo" type="pointing.py" name="p_server" output="screen"/>
  <node pkg="sphinx_mcl" type="cmd_process.py" name="sphinx_cmd_process" output="screen"/>
  <include file="$(find ar_track_alvar)/launch/baxter_indiv.launch"/>
</launch>

